* {
    /* Position */

    /* block-model */
    box-sizing: border-box;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

html {
    /* Position */

    /* block-model */
    scroll-behavior: smooth;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

body {
    /* Position */

    /* block-model */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    padding: 0;

    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #3A3636;
    /* Decoration */
    background-color: #fdfdfd;

    /* Animation */

    /* Various */

}

.main {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.main-container {
    /* Position */

    /* block-model */
    display: flex;
    flex-wrap: wrap;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.container {
    /* Position */

    /* block-model */
    max-width: 1440px;
    margin: 0 auto;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

header {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.main-title{
    /* Position */

    /* block-model */

    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    color: #3A3636;
    /* Decoration */

    /* Animation */

    /* Various */

}

nav {
    /* Position */

    /* block-model */
    margin-bottom: 10px;

    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #3A3636;
    
    /* Decoration */
    background-color: rgba(177, 248, 177, 0.5);
    border-radius: 20px;

    /* Animation */

    /* Various */

}

.nav-list{
    /* Position */
    width: 100%;
    height: 100%;
    /* block-model */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Typography */

    /* Decoration */
    list-style: none;
    /* Animation */

    /* Various */

}


.nav-item {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */
    
    /* Animation */

    /* Various */

}

.nav-link {
    /* Position */

    /* block-model */
    display: flex;
    justify-content: space-around;
    padding: 0 0px;
    line-height: 40px;
    
    /* Typography */
    
    /* Decoration */
    text-decoration: none;

    /* Animation */
    transition: color 0.5s;

    /* Various */

}

.nav-link:link {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */
    color: #258b47;

}

.nav-link:visited {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    color: #686565;
}

.nav-link:hover {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    color: #224bd1;
}

.section-header-section {
    /* Position */

    /* block-model */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.section-profile-img {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */
    border-radius: 20px;
    /* Animation */

    /* Various */

}

.section {
    /* Position */
    /* block-model */

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.section-item {
    /* Position */

    /* block-model */
    margin-bottom: 10px;

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.section-link {
    /* Position */

    /* block-model */
    padding-bottom: 10px;

    /* Typography */

    /* Decoration */
    text-decoration: none;

    /* Animation */

    transition: color 0.5s;
    /* Various */

}

.section-link:link {
    /* Position */
    
    /* block-model */
    
    /* Typography */

    /* Decoration */   
    color: #258b47;
}

.section-link:visited {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    color: #686565;
}

.section-link:hover {
    /* Position */
    
    /* block-model */
    
    /* Typography */

    /* Decoration */    
    color: #224bd1;
}

.section-profile-title {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.section-title {
    /* Position */

    /* block-model */

    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: underline;
    color: #3A3636;
    text-transform: uppercase;
    text-align: center;
    /* Decoration */

    /* Animation */

    /* Various */

}

.main-subtitle {
    /* Position */

    /* block-model */

    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    color: #3A3636;
    /* Decoration */

    /* Animation */

    /* Various */

}

.section-subtitle {
    /* Position */

    /* block-model */

    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #3A3636;
    /* Decoration */

    /* Animation */

    /* Various */

}

.section-label {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.section-progress {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.section-img-certificate {
    /* Position */

    /* block-model */
    display: block;
    /* Typography */

    /* Decoration */
    border-style: solid;
    /* Animation */

    /* Various */

}

.section-progress {
   /* Position */
    
    /* block-model */
    display: block;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}

.paragraph-main-title {
    /* Position */

    /* block-model */
    display: block;
    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #3A3636;
    /* Decoration */

    /* Animation */

    /* Various */

}

.paragraph-title {
    /* Position */

    /* block-model */
    display: block;
    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    color: #3A3636;
    /* Decoration */

    /* Animation */

    /* Various */

}

.pre {
    /* Position */

    /* block-model */
    /* border-style: solid;
    background-color: red; */
    /* Typography */

    /* Decoration */

    /* Animation */

    /* Various */

}

.footer {
    /* Position */
    width: 100%;
    height: 10%;
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    background-color: rgba(177, 248, 177, 0.5);
    border-radius: 20px;
    /* Animation */
    
    /* Various */
}

.footer-list {
    /* Position */
    
    /* block-model */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Typography */
    
    /* Decoration */

    /* Animation */
    
    /* Various */
}

.footer-item {
        /* Position */
    
    /* block-model */
    display: inline-block;
    /* Typography */
    
    /* Decoration */

    /* Animation */
    
    /* Various */
}

.footer-link {
    /* Position */

    /* block-model */
    padding: 0 20;
    line-height: 50px;

    /* Typography */

    /* Decoration */
    text-decoration: none;

    /* Animation */
    transition: color 0.5s;

    /* Various */

}

.footer-link:link {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */
    color: #258b47;

}

.footer-link:visited {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    color: #686565;
}

.footer-link:hover {
    /* Position */
    
    /* block-model */
    
    /* Typography */
    
    /* Decoration */
    color: #224bd1;
}


.footer-rsschool-logo {
    /* Position */
    
    /* block-model */
    width: 120px;
    height: 35px;
    /* Typography */
    
    /* Decoration */
    
    /* Animation */
    
    /* Various */

}