<li class="nav__item layout-one-column nav__item-container">
  <h2 class="title title-h2"><a href="#contact-information" class="nav__link title-h2 title_uppercase">Contact information</a></h2>
  <span class="title_underline">&nbsp;</span>
  <ul class="layout-one-column contacts__container">
    <li class="layout-two-columns contacts__item-container">
      <div class="contacts__icon_background"></div>
      <div class="layout-one-column contacts__text-container"></div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">@@include("../html-svg assets/_google-maps-2020-icon.html")</div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">Location</span>
        <span class="paragraph-s text-light">Moscow, Russia</span>
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">@@include("../html-svg assets/_icons8-phone.html")</div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">Phone</span>
        <span class="paragraph-s text-light">+7 (9**) *** ** **</span>
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a class="link contacts__link layout-one-column contacts__icon-position" href="mailto:dmitriy.frostoff@yandex.ru" title="e-mail" target="_blank"
          >@@include("../html-svg assets/_mail-ios.html")</a
        >
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">E-mail</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="mailto:dmitriy.frostoff@yandex.ru" title="e-mail" target="_blank">dmitriy.frostoff@yandex.ru</a></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a
          class="link contacts__link layout-one-column contacts__icon-position"
          href="https://www.linkedin.com/in/dmitriy-frostoff/"
          title="my LinkedIn acc"
          target="_blank"
          >@@include("../html-svg assets/_icons8-linkedin.html")</a
        >
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">LinkedIn</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://www.linkedin.com/in/dmitriy-frostoff/" title="my LinkedIn acc" target="_blank"
            >LinkedIn: dmitriy-frostoff</a
          ></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a
          class="link contacts__link layout-one-column contacts__icon-position"
          href="https://www.instagram.com/dmitriy.frostoff/"
          title="my insta"
          target="_blank"
          >@@include("../html-svg assets/_instagram-2016-5.html")</a
        >
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">instagram</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://www.instagram.com/dmitriy.frostoff/" title="my insta" target="_blank">id: dmitriy.frostoff</a></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a class="link contacts__link layout-one-column contacts__icon-position" href="https://t.me/Dmitriy_Frostoff" title="telegram" target="_blank"
          >@@include("../html-svg assets/_icons8-telegram-app.html")</a
        >
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">Telegram</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://t.me/Dmitriy_Frostoff" title="telegram" target="_blank">@Dmitriy_Frostoff</a></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a class="link contacts__link layout-one-column contacts__icon-position" href="https://discord.com/" title="discord" target="_blank"
          >@@include("../html-svg assets/_icons8-discord.html")</a
        >
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">Discord</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://discord.com/" title="discord" target="_blank">@dmitriy_frostoff</a></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a
          class="link contacts__link layout-one-column contacts__icon-position"
          href="https://www.sololearn.com/profile/16514154"
          title="sololearn.com acc"
          target="_blank"
          >@@include("../html-svg assets/_sololearn-2.html")</a
        >
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">sololearn</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://www.sololearn.com/profile/16514154" title="sololearn.com acc" target="_blank">sololearn.acc</a></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a class="link contacts__link layout-one-column contacts__icon-position" href="https://app.rs.school/" title="RS App" target="_blank"
          >@@include("../html-svg assets/_rs_school_js.html")</a
        >
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 text-light">app.rs.school</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://app.rs.school/" title="RS App" target="_blank">Dmitriy_Morozov</a></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a class="link contacts__link layout-one-column contacts__icon-position" href="https://github.com/Dmitriy-Frostoff/" title="my github" target="_blank"
          ><img class="contacts__icon" src="../assets/svg/contacts/github.gif" alt="github icon octocat gif"
        /></a>
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">GitHub</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://github.com/Dmitriy-Frostoff/" title="github acc" target="_blank">dmitriy-frostoff</a></span
        >
      </div>
    </li>
    <li class="layout-two-columns contacts__item-container">
      <div class="layout-one-column contacts__icon-position contacts__icon_background">
        <a
          class="link contacts__link layout-one-column contacts__icon-position"
          href="https://www.codewars.com/users/rsschool_78dcfb24c923f558"
          title="my codewars acc"
          target="_blank"
          ><img class="contacts__icon" src="../assets/svg/contacts/codewars.gif" alt="codewars icon gif"
        /></a>
      </div>
      <div class="layout-one-column contacts__text-container">
        <span class="title-h4 title_uppercase text-light">codewars</span>
        <span class="paragraph-s text-light"
          ><a class="link contacts__link" href="https://www.codewars.com/users/rsschool_78dcfb24c923f558" title="codewars.com acc" target="_blank"
            >codewars.acc</a
          ></span
        >
      </div>
    </li>
    <li class="layout-one-column contacts__text-container">
      <a class="contacts__link" href="https://www.codewars.com/users/rsschool_78dcfb24c923f558" title="codewars.com acc" target="_blank">
        <img
          class="layout-one-column contacts__icon-position"
          src="https://www.codewars.com/users/rsschool_78dcfb24c923f558/badges/large"
          alt="dmitriy frostoff's codewars stats"
        />
      </a>
    </li>
  </ul>
</li>
