<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<meta name="description" content="This is Dmitiy Frostoff's CV - a Trainee Frontend Developer" />
<meta
  name="keywords"
  content="Trainee Frontend Developer, Junior Frontend Developer, JS, JavaScript, ECMA Script 6+, HTML, CSS, Scss, TS, TypeScript, Frontend Development, Visual Studio Code, VSCode, Git, GitHub, Programming, Python, MarkDown"
/>
<!-- fonts start -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap" rel="stylesheet" />
<!-- fonts end -->
<!-- stylesheets start -->
<link rel="stylesheet" href="../prism/prism.css" />
<!-- stylesheets end -->
<!-- title start -->
<title>Dmitriy Frostoff's CV</title>
<!-- title end -->
<!-- favicon start -->
<link rel="icon" href="../assets/icons/favicon64x64.ico" type="image/ico" sizes="16x16" />
<link rel="icon" href="../assets/icons/favicon64x64.ico" type="image/ico" sizes="32x32" />
<link rel="icon" href="../assets/icons/favicon64x64.ico" type="image/ico" sizes="64x64" />
<!-- favicon end -->
