@use '../../shared/ui/common styles/index.scss' as ui_common;

aside {
  // Position

  // block-model

  // Typography

  // Decoration
  background-color: var(--color-background-left);
  // Animation
  @extend %transition-basic;

  // Various
  @include ui_common.media-tablet {
    // Position
    position: fixed;
    top: 0;
    left: -200%;
    z-index: 90;

    // block-model
    height: 100%;
    overflow: scroll;
    // Typography

    // Decoration

    // Animation

    // Various;
  }
}

._aside_active {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation
  @extend %transition-basic;

  // Various
  @include ui_common.media-tablet {
    // Position
    left: 0;

    // block-model

    // Typography

    // Decoration

    // Animation

    // Various;
  }
}

.nav {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
}

.nav__container {
  // Position

  // block-model
  padding: 46px 24px 15px 22px;
  // Typography

  // Decoration

  // Animation

  // Various
  @include ui_common.media-tablet {
    padding: 30px 24px 15px 70px;
  }

  @include ui_common.media-mobile {
    padding: 30px 24px 15px 50px;
  }
}

.nav__list {
  // Position

  // block-model
  width: 100%;
  row-gap: 15px;
  // Typography

  // Decoration

  // Animation

  // Various
}

.nav__item {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
}

.nav__item-container {
  // Position

  // block-model
  align-items: stretch;
  width: 100%;
  // Typography

  // Decoration

  // Animation

  // Various
}

.nav__link {
  // Position
  position: relative;
  // block-model
  display: block;
  // Typography
  line-height: 3rem;
  color: var(--color-text-light);
  // Decoration
  @extend %cursor-pointer;
  // Animation
  @extend %transition-basic;
  // Various
  &:hover {
    color: var(--color-highlight-light);
    @extend %transition-basic;
    @include ui_common.animation(
      $name: pulsation,
      $duration: 1.5s,
      $iteration-count: infinite,
      $direction: normal,
      $timing-function: ease,
      $delay: 0s
    );
  }

  &:active {
    color: var(--color-highlight-light);
    @extend %transition-basic;
  }
}

.skills__label-wrapper {
  // Position

  // block-model
  row-gap: 15px;
  // Typography

  // Decoration

  // Animation

  // Various
}

.skills__label {
  // Position

  // block-model
  width: 100%;
  // Typography

  // Decoration

  // Animation

  // Various
}

.nav__education-container {
  // Position

  // block-model
  padding: 10px 0;
  // Typography

  // Decoration

  // Animation

  // Various
}

.skills__label-container {
  // Position

  // block-model
  @include ui_common.flex-two-childs-basis($first-basis: 65%, $last-basis: 25%);
  & {
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px 0;
  }
  // Typography

  // Decoration

  // Animation

  // Various
  @include ui_common.media-tablet {
    & > :first-child {
      flex-basis: 40%;
    }
  }
}

.skills__text {
  // Position

  // block-model
  display: block;
  // Typography

  // Decoration

  // Animation

  // Various
}

.skills__progress {
  // Position

  // block-model
  height: 5px;

  // Typography

  // Decoration
  -webkit-appearance: none;
  // Animation

  // Various
  &::-webkit-progress-value {
    background-color: var(--color-highlight-light);
  }

  &::-webkit-progress-bar {
    background-color: var(--color-highlight-dark);
  }

  &::-moz-progress-bar {
    background-color: var(--color-highlight-dark);
  }
}
