$padding-content-desktop: 20px;
$padding-content-tablet: 20px;
$padding-content-mobile: 10px;

* {
  // Position

  // block-model
  box-sizing: border-box;
  // Typography

  // Decoration

  // Animation

  // Various

}

html {
  // Position

  // block-model
  scroll-behavior: smooth;
  // Typography
  font-size: $font-size-initial;
  // Decoration

  // Animation

  // Various

}

.body {
  // Position

  // block-model
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;

  // Typography
  @extend %font-Cabin;
  font-size: 1rem;
  // Decoration

  // Animation

  // Various
  
}

@include media-tablet-minus1px {
  .body_scroll-lock {
    /* Position */

    /* block-model */

    /* Typography */

    /* Decoration */
    overflow: hidden;

    /* Animation */

    /* Various */

  }
}

.text-light {
  // Position

  // block-model

  // Typography

  // Decoration
  color: $color-text-light;
  // Animation

  // Various

}

.text-dark {
  // Position

  // block-model

  // Typography

  // Decoration
  color: $color-text-dark;
  // Animation

  // Various

}

.title {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 600, $size: $font-size-H1, $height: calc($font-size-H1 * 1.2));

  // Decoration
  color: $color-text-dark;
  // Animation

  // Various

}

.title-h1 {
  // Position

  // block-model

  // Typography
  @include text ($style: normal, $weight: 600, $size: $font-size-H1, $height: calc($font-size-H1 * 1.2));

  // Decoration

  // Animation

  // Various

}

.title-h2 {
  // Position

  // block-model

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 600, $size: $font-size-H2, $height: calc($font-size-H2 * 1.2));

  // Decoration

  // Animation

  // Various

}

.title-h3 {
  // Position

  // block-model

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 600, $size: $font-size-H3, $height: calc($font-size-H3 * 1.2));

  // Decoration

  // Animation

  // Various

}

.title-h4 {
  // Position

  // block-model

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 600, $size: $font-size-H4, $height: calc($font-size-H4 * 1.2));

  // Decoration

  // Animation

  // Various

}

.title-h4_highlight {
  // Position

  // block-model

  // Typography
  @include text ($style: normal, $weight: 600, $size: $font-size-addText, $height: calc($font-size-addText * 1.2));

  // Decoration
  color: $color-text-dark;
  background-color: $color-highlight-light;
  border-radius: 2.5px; //expected Error! //TODO check this!
  // Animation

  // Various

}

.title_underline {
  // Position

  // block-model
  display: block;
  width: 17px;
  margin-bottom: 13px;
  // Typography
  
  // Decoration
  border-bottom: solid 3px $color-highlight-light;

  // Animation

  // Various

}

.title_uppercase {
  // Position

  // block-model

  // Typography
  text-transform: uppercase;
  // Decoration

  // Animation

  // Various

}

.text_highlight {
  // Position

  // block-model

  // Typography

  // Decoration
  color: $color-text-dark;
  background-color: $color-highlight-light;
  // Animation

  // Various

}

.paragraph-s {
  // Position

  // block-model

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 500, $size: $font-size-addText, $height: calc($font-size-addText * 1.2));

  // Decoration
  color: $color-text-dark;

  // Animation

  // Various

}

.paragraph-l {
  // Position

  // block-model

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 500, $size: $font-size-paragraph, $height: calc($font-size-paragraph * 1.2));

  // Decoration
  color: $color-text-dark;

  // Animation

  // Various

}

.paragraph-list {
  // Position

  // block-model

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 500, $size: $font-size-paragraph, $height: calc($font-size-paragraph * 1.2));

  // Decoration
  color: $color-text-dark;

  // Animation

  // Various

}

.paragraph-list__item {
  // Position

  // block-model

  // Typography
  @extend %font-Cabin;
  @include text ($style: normal, $weight: 500, $size: $font-size-paragraph, $height: calc($font-size-paragraph * 1.2));

  // Decoration
  color: $color-text-dark;
  // Animation

  // Various

}

.link { //TODO check this!
  // Position

  // block-model
  width: inherit;
  height: inherit;
  padding: calc((48px - 1.7rem) / 2) 0;
  // Typography
  @extend %font-Cabin;
  @include text ($size: $font-size-addText, $height: calc($font-size-addText * 1.2));

  // Decoration
  color: $color-text-light;
  // Animation
  @extend %transition-basic;
  
  // Various
  &:hover, &:active {
    @extend %transition-basic;
    @include animation ($name: pulsation, $duration: 1s, $iteration-count: infinite, $direction: normal, $timing-function: ease, $delay: 0s);
  }
  
  &:hover {
    @extend %transition-basic;
    color: $color-text-dark;
    background-color: $color-highlight-light;
    border-radius: inherit;
  }

  &:active {
    @extend %transition-basic;
    color: $color-text-dark;
    background-color: $color-highlight-light;
    border-radius: inherit;
  }
}

nav, ul, li {
   // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography

  // Decoration

  // Animation

  // Various

}

li {
  // Position

  // block-model

  // Typography

  // Decoration
  list-style: none;
  // Animation

  // Various

}

a {
   // Position

  // block-model
  display: inline-block;
  @extend %reset-padding-margin;

  // Typography
  color: $color-text-light;
  // Decoration
  text-decoration: none;
  @extend %cursor-pointer;
  
  // Animation

  // Various
  & :visited {
    color: $color-text-light;
  }
}

img {
  // Position
  @extend %reset-padding-margin;

  // block-model
  display: block;
  // Typography

  // Decoration

  // Animation

  // Various

}

p {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography

  // Decoration

  // Animation

  // Various

}

.code {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography

  // Decoration

  // Animation

  // Various

}

.container {
  // Position

  // block-model
  margin: 0 auto;
  
  // Typography

  // Decoration

  // Animation

  // Various

  @include media-wide-desktop {
    max-width: $content-width-desktop;
  }

  @include media-desktop {
    padding: 0 $padding-content-desktop;
  }
  
  @include media-tablet {
    padding: 0 $padding-content-tablet;
  }
  
  @include media-mobile {
    padding: 0 $padding-content-mobile;
  }
}

.hidden {
  // Position
  
  // block-model
  display: none;

  // Typography

  // Decoration

  // Animation

  // Various

}

.main {
  // Position
  
  // block-model
  
  // Typography
  
  // Decoration
  background-color: $color-background-right;
  
  // Animation
  
  // Various
  
}

.main__container {
  // Position

  // block-model
  //left 275px / 618px
  // rigth 343px / 618px due to draft
  @include flex-model-two-columns ($first-basis: 22%, $last-basis: 78%, $align-content: space-between, $justify-content: space-between, $align-items: center);
  flex-wrap: nowrap;
  // Typography

  // Decoration

  // Animation

  // Various
  
}

.skills-label {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
  
}

.skills-progress {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
  
}