$color-background-light: #FFFFFF;
$color-background-left: #292935;
$color-background-right: #22222E;


$color-text-light: #FFFFFF;
$color-text-dark: #000000;

$color-highlight-light: #FFCD04;
$color-highlight-dark: #5E5D6B;

$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 540px;

$content-width-desktop: 1360px;
$content-width-tablet: 708px;
$content-width-mobile: 300px;