aside {
  // Position

  // block-model

  // Typography

  // Decoration
  background-color: $color-background-left;
  // Animation

  // Various
  

}

.nav {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
  

}

.nav__container {
  // Position

  // block-model
  padding: 46px 24px 15px 22px;
  // Typography

  // Decoration

  // Animation

  // Various
  
}


.nav__list {
  // Position
  
  // block-model
  width: 207px;
  @include flex-model-one-column ($align-content: space-between, $justify-content: flex-start, $align-items: flex-start);
  flex-wrap: nowrap;
  row-gap: 54px;
  // Typography

  // Decoration

  // Animation

  // Various

}

.nav__item {
  // Position
  
  // block-model

  // Typography
  
  // Decoration

  // Animation

  // Various

}

.nav__link {
  // Position
  position: relative;
  // block-model

  // Typography
  line-height: 50px;
  color: $color-text-light;
  // Decoration
  @extend %cursor-pointer;
  // Animation
  @extend %transition-basic;
  // Various
  &:hover {
    color: $color-highlight-light;
    @extend %transition-basic;
    @include animation ($name: pulsation, $duration: 1.5s, $iteration-count: infinite, $direction: normal, $timing-function: ease, $delay: 0s);
  &:before {
    position: absolute;
    @extend %transition-basic;

    content: "";
    bottom: 11px;
    width: 100%;
    border-bottom: 3px solid $color-text-light;
    transform: scaleX(0);
    transform-origin: bottom left;

  }
  }

  &:active {
    color: $color-highlight-light;
    @extend %transition-basic;

    &:before {
      transform: scaleX(1);
      @extend %transition-basic;
      transform-origin: bottom right;
    }
  }
}