.header {
  // Position
  
  // block-model

  // Typography

  // Decoration
  background: 
    url("../src/assets/background/noise_transparent@2x.png"),
    $color-background-light;
    
  // Animation

  // Various

}

.header__container {
  // Position
  
  // block-model
  padding-top: 30px;
  padding-bottom: 30px;
  @include flex-model-two-columns ($first-basis: 186px, $last-basis: 443px, $align-content: space-between, $justify-content: space-between, $align-items: center);
  flex-wrap: nowrap;
  // Typographynav

  // Decoration
  
  // Animation

  // Various

}