@keyframes pulsation {
  from {
    transform: scaleX(0.95);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes press {
  from {
    transform: scale(100%);
  }

  50% {
    transform: scale(80%);
  }

  to {
    transform: scale(100%);
  }
}

@keyframes move-linear-from-right {
  from {
    right: -100%;
    visibility: hidden;
  }

  1% {
    right: -50%;
    visibility: visible;
  }

  to {
    right: 0%;
    visibility: visible;
  }
}

@keyframes move-linear-to-right {
  from {
    right: 0%;
    visibility: visible;
  }

  50% {
    right: -50%;
    visibility: visible;
  }

  to {
    right: -100%;
    visibility: hidden;
  }
}

@mixin animation(
  $name: pulsation,
  $duration: 1s,
  $iteration-count: infinite,
  $direction: normal,
  $timing-function: ease,
  $delay: 0s
) {
  animation: $name $duration $iteration-count $direction $timing-function $delay;
}
