@use '../abstracts/constants';

@mixin text(
  $style: normal,
  $weight: 400,
  $size: 1rem,
  $height: $size,
  $let-spacing: normal
) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $let-spacing;
}

@mixin border($width: 2px, $style: solid, $color: $color-primary) {
  border: $width $style $color;
}

@mixin transition(
  $property: all,
  $duration: 0.7s,
  $timing-function: ease,
  $delay: 0s
) {
  transition: $property $duration $timing-function $delay;
}

@mixin flex-model-two-columns(
  $first-basis: 50%,
  $last-basis: 50%,
  $align-content: space-between,
  $justify-content: space-between,
  $align-items: flex-start
) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
  > :first-child {
    flex-basis: $first-basis;
  }
  > :last-child {
    flex-basis: $last-basis;
  }
}

@mixin flex-two-childs-basis($first-basis: 50%, $last-basis: 50%) {
  > :first-child {
    flex-basis: $first-basis;
  }
  > :last-child {
    flex-basis: $last-basis;
  }
}

@mixin flex-three-childs-basis(
  $first-basis: 25px,
  $second-basis: 25%,
  $last-basis: 75%
) {
  > :first-child {
    flex-basis: $first-basis;
  }

  > :nth-child(2) {
    flex-basis: $second-basis;
  }

  > :last-child {
    flex-basis: $last-basis;
  }
}

@mixin flex-model-one-column(
  $flex-wrap: nowrap,
  $align-content: flex-start,
  $justify-content: flex-start,
  $align-items: flex-start
) {
  display: flex;
  flex-direction: column;
  flex-wrap: $flex-wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-model-multiple-columns(
  $basis: auto,
  $align-content: space-between,
  $justify-content: center,
  $align-items: flex-start
) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;

  > * {
    flex-basis: $basis;
  }
}

@mixin grid-model-multiple-columns(
  $rows: 2,
  $columns: 4,
  $el-width: calc(270 / 1200 * 100%),
  $el-height: calc(435 / 1200 * 100%)
) {
  display: grid;
  grid-template-rows: repeat($rows, $el-width);
  grid-template-columns: repeat($columns, $el-height);
}

@mixin media-wide-desktop {
  @media (min-width: calc(constants.$width-desktop + 1px)) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: constants.$width-desktop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: constants.$width-tablet) {
    @content;
  }
}

@mixin media-tablet-minus1px {
  @media (max-width: calc(constants.$width-tablet - 1px)) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: constants.$width-mobile) {
    @content;
  }
}
