<aside>
  <nav class="nav nav__container">
    <ul class="layout-one-column nav__list">
      <li class="nav__item">
        <a class="nav__link title-h2 title_uppercase" href="#profile">Profile</a>
        <span class="title_underline">&nbsp;</span>
      </li>
      <li class="nav__item">
        <a class="nav__link title-h2 title_uppercase" href="#job-experience">Job experience</a>
        <span class="title_underline">&nbsp;</span>
      </li>
      <li class="nav__item layout-one-column nav__item-container">
        <a class="nav__link title-h2 title_uppercase" href="#education">Education</a>
        <span class="title_underline">&nbsp;</span>
        <div class="layout-one-column nav__education-container">
          <span class="skills__text title-h3 title_uppercase text-light">Frontend developer</span>
          <div class="layout-one-column nav__education-container">
            <span class="skills__text title-h4 text-light">The Rolling Scopes School</span>
            <span class="skills__text title-h4 text-light">JS / FRONT-END</span>
            <span class="skills__text title-h4 text-light">2022 - present</span>
          </div>
        </div>
        <div class="layout-one-column nav__education-container">
          <span class="skills__text title-h3 title_uppercase text-light">Civil Construction engineer</span>
          <div class="layout-one-column nav__education-container">
            <span class="skills__text title-h4 text-light">Moscow State University of Civil Engineering</span>
            <span class="skills__text title-h4 text-light">masters degree (diploma with honor)</span>
            <span class="skills__text title-h4 text-light">2016 - 2018</span>
          </div>
          <div class="layout-one-column nav__education-container">
            <span class="skills__text title-h4 text-light">Moscow State University of Civil Engineering</span>
            <span class="skills__text title-h4 text-light">bachelor degree (diploma with honor)</span>
            <span class="skills__text title-h4 text-light">2012 - 2016</span>
          </div>
        </div>
      </li>
      <li class="nav__item">
        <a class="nav__link title-h2 title_uppercase" href="#code-example">Code example</a>
        <span class="title_underline">&nbsp;</span>
      </li>
      <li class="nav__item">
        <a class="nav__link title-h2 title_uppercase" href="#projects">Projects</a>
        <span class="title_underline">&nbsp;</span>
      </li>
      <li class="nav__item layout-one-column nav__item-container">
        <h2 class="title title-h2"><a href="#skills-and-proficiency" class="nav__link title-h2 title_uppercase">Skills and Proficiency</a></h2>
        <span class="title_underline">&nbsp;</span>
        <ul class="skills__label">
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">JavaScript</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">TypeScript</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Python</span>
            <progress class="skills__progress" max="100" value="10">10%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">HTML</span>
            <progress class="skills__progress" max="100" value="90">90%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">CSS</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Sass/SCSS</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Pug</span>
            <progress class="skills__progress" max="100" value="60">60%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">React</span>
            <progress class="skills__progress" max="100" value="10">10%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Webpack</span>
            <progress class="skills__progress" max="100" value="60">60%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Gulp</span>
            <progress class="skills__progress" max="100" value="60">60%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">ESLint</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Pretiier</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Husky</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Mocha</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Chai</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">JSDoc</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Git, GitHub</span>
            <progress class="skills__progress" max="100" value="75">75%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Markdown</span>
            <progress class="skills__progress" max="100" value="90">90%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">VS Code</span>
            <progress class="skills__progress" max="100" value="50">50%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Figma</span>
            <progress class="skills__progress" max="100" value="40">40%</progress>
          </li>
          <li class="skills__label layout-two-columns skills__label-container">
            <span class="skills__text title-h3 text-light">Adobe Photoshop</span>
            <progress class="skills__progress" max="100" value="10">10%</progress>
          </li>
        </ul>
      </li>
      <li class="nav__item layout-one-column nav__item-container">
        <h2 class="title title-h2"><a href="#languages" class="nav__link title-h2 title_uppercase">Languages</a></h2>
        <span class="title_underline">&nbsp;</span>
        <div class="layout-two-columns skills__label-container">
          <span class="skills__text title-h3 text-light">English</span>
          <span class="skills__text title-h3 text-light">
            <a class="nav__link title-h4 text-light" href="https://www.efset.org/cert/4Tg7Hj" title="EFSet sertificate" target="_blank"
              >Upper-Intermediate B2</a
            >
          </span>
        </div>
        <div class="layout-two-columns skills__label-container">
          <span class="skills__text title-h3 text-light">Russian</span>
          <span class="skills__text title-h3 text-light">Native</span>
        </div>
      </li>
      <li class="nav__item layout-one-column nav__item-container">
        <h2 class="title title-h2"><a href="#contact-information" class="nav__link title-h2 title_uppercase">Contact information</a></h2>
        <span class="title_underline">&nbsp;</span>
        <ul class="layout-one-column contacts__container">
          <li class="layout-two-columns contacts__item-container">
            <div class="contacts__icon_background"></div>
            <div class="layout-one-column contacts__text-container"></div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">@@include("./html-svg assets/_google-maps-2020-icon.html")</div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">Location</span>
              <span class="paragraph-s text-light">Moscow, Russia</span>
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">@@include("./html-svg assets/_icons8-phone.html")</div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">Phone</span>
              <span class="paragraph-s text-light">+7 (9**) *** ** **</span>
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a class="link contacts__link layout-one-column contacts__icon-position" href="mailto:dmitriy.frostoff@yandex.ru" title="e-mail" target="_blank"
                >@@include("./html-svg assets/_mail-ios.html")</a
              >
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">E-mail</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="mailto:dmitriy.frostoff@yandex.ru" title="e-mail" target="_blank">dmitriy.frostoff@yandex.ru</a></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a
                class="link contacts__link layout-one-column contacts__icon-position"
                href="https://www.linkedin.com/in/dmitriy-frostoff/"
                title="my LinkedIn acc"
                target="_blank"
                >@@include("./html-svg assets/_icons8-linkedin.html")</a
              >
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">LinkedIn</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://www.linkedin.com/in/dmitriy-frostoff/" title="my LinkedIn acc" target="_blank"
                  >LinkedIn: dmitriy-frostoff</a
                ></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a
                class="link contacts__link layout-one-column contacts__icon-position"
                href="https://www.instagram.com/dmitriy.frostoff/"
                title="my insta"
                target="_blank"
                >@@include("./html-svg assets/_instagram-2016-5.html")</a
              >
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">instagram</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://www.instagram.com/dmitriy.frostoff/" title="my insta" target="_blank"
                  >id: dmitriy.frostoff</a
                ></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a class="link contacts__link layout-one-column contacts__icon-position" href="https://t.me/Dmitriy_Frostoff" title="telegram" target="_blank"
                >@@include("./html-svg assets/_icons8-telegram-app.html")</a
              >
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">Telegram</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://t.me/Dmitriy_Frostoff" title="telegram" target="_blank">@Dmitriy_Frostoff</a></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a class="link contacts__link layout-one-column contacts__icon-position" href="https://discord.com/" title="discord" target="_blank"
                >@@include("./html-svg assets/_icons8-discord.html")</a
              >
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">Discord</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://discord.com/" title="discord" target="_blank">@dmitriy_frostoff</a></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a
                class="link contacts__link layout-one-column contacts__icon-position"
                href="https://www.sololearn.com/profile/16514154"
                title="sololearn.com acc"
                target="_blank"
                >@@include("./html-svg assets/_sololearn-2.html")</a
              >
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">sololearn</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://www.sololearn.com/profile/16514154" title="sololearn.com acc" target="_blank"
                  >sololearn.acc</a
                ></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a class="link contacts__link layout-one-column contacts__icon-position" href="https://app.rs.school/" title="RS App" target="_blank"
                >@@include("./html-svg assets/_rs_school_js.html")</a
              >
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 text-light">app.rs.school</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://app.rs.school/" title="RS App" target="_blank">Dmitriy_Morozov</a></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a
                class="link contacts__link layout-one-column contacts__icon-position"
                href="https://github.com/Dmitriy-Frostoff/"
                title="my github"
                target="_blank"
                ><img class="contacts__icon" src="../assets/svg/contacts/github.gif" alt="github icon octocat gif"
              /></a>
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">GitHub</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://github.com/Dmitriy-Frostoff/" title="github acc" target="_blank">dmitriy-frostoff</a></span
              >
            </div>
          </li>
          <li class="layout-two-columns contacts__item-container">
            <div class="layout-one-column contacts__icon-position contacts__icon_background">
              <a
                class="link contacts__link layout-one-column contacts__icon-position"
                href="https://www.codewars.com/users/rsschool_78dcfb24c923f558"
                title="my codewars acc"
                target="_blank"
                ><img class="contacts__icon" src="../assets/svg/contacts/codewars.gif" alt="codewars icon gif"
              /></a>
            </div>
            <div class="layout-one-column contacts__text-container">
              <span class="title-h4 title_uppercase text-light">codewars</span>
              <span class="paragraph-s text-light"
                ><a class="link contacts__link" href="https://www.codewars.com/users/rsschool_78dcfb24c923f558" title="codewars.com acc" target="_blank"
                  >codewars.acc</a
                ></span
              >
            </div>
          </li>
          <li class="layout-one-column contacts__text-container">
            <a class="contacts__link" href="https://www.codewars.com/users/rsschool_78dcfb24c923f558" title="codewars.com acc" target="_blank">
              <img
                class="layout-one-column contacts__icon-position"
                src="https://www.codewars.com/users/rsschool_78dcfb24c923f558/badges/large"
                alt="dmitriy frostoff's codewars stats"
              />
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
