<aside>
  <nav class="nav nav__container">
    <ul class="layout-one-column nav__list">
      <!-- profile start -->
      @@include("./profile/_profile.html")
      <!-- profile end -->
      <!-- job-experience start -->
      @@include("./job-experience/_job-experience.html")
      <!-- job-experience end -->
      <!-- education start -->
      @@include("./education/_education.html")
      <!-- education end -->
      <!-- code-example start -->
      @@include("./code-example/_code-example.html")
      <!-- code-example end -->
      <!-- projects start -->
      @@include("./projects/_projects.html")
      <!-- projects end -->
      <!-- skills-and-proficiency start -->
      @@include("./skills-and-proficiency/_skills-and-proficiency.html")
      <!-- skills-and-proficiency end -->
      <!-- languages start -->
      @@include("./languages/_languages.html")
      <!-- languages end -->
      <!-- contact-information start -->
      @@include("./contact-information/_contact-information.html")
      <!-- contact-information end -->
    </ul>
  </nav>
</aside>
