<!-- footer start -->
<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">&copy; 2023 Dmitriy Frostoff</li>
      <li class="footer__item">
        <a class="footer__link" href="https://github.com/Dmitriy-Frostoff" title="click to visit Dmitriy-Frostoff's GitHub" target="_blank">
          @@include("./html-svg assets/_github logo.html")
          <span class="github-text">GitHub</span>
        </a>
      </li>
      <li class="footer__item">
        <a class="footer__link rsschool-logo" href="https://rs.school/js/" title="click to go to the RS School Course" target="_blank">
          @@include("./html-svg assets/_rs_school_js.html")
        </a>
      </li>
    </ul>
  </div>
</footer>
<!-- footer end -->
