// 254px && 265px are dimensions of img from template,
// 595px width of the template;
$cv-photo__container-width: 320px;
//image CV person ratio 505/552
$cv-photo__container-height: calc(320px * 505 / 552); // === about 293px
$cv-photo__streak-width: 48px;
$cv-photo__streak-height: $cv-photo__container-height;

:root {
  --cv-photo__container-width: #{$cv-photo__container-width};

  --cv-photo__container-height: #{$cv-photo__container-height};
  --cv-photo__streak-width: #{$cv-photo__streak-width};
  --cv-photo__streak-height: #{$cv-photo__streak-height};
}

.header {
  // Position

  // block-model

  // Typography

  // Decoration
  background: url('../../../assets/background/noise_transparent@2x.png'),
    var(--color-background-light);

  // Animation

  // Various
}

.header__container {
  // Position

  // block-model
  padding-top: 30px;
  padding-bottom: 30px;
  //width of image 254px width of text 279px due to draft
  // draft width 595px
  @include flex-model-two-columns(
    $first-basis: 20%,
    $last-basis: 40%,
    $align-content: space-between,
    $justify-content: space-between,
    $align-items: flex-start
  );
  flex-wrap: wrap;
  // Typography

  // Decoration

  // Animation

  // Various
}

.cv-photo__container {
  // Position

  // block-model
  width: var(--cv-photo__container-width);
  height: var(--cv-photo__container-height);
  @include flex-two-childs-basis(
    $first-basis:
      calc(
        var(--cv-photo__streak-width) / var(--cv-photo__container-width) * 100%
      ),
    $last-basis: 50%
  );
  flex-wrap: nowrap;
  // Typography

  // Decoration

  // Animation

  // Various
}

.cv-photo__streak {
  // Position

  // block-model
  display: block;
  min-width: var(--cv-photo__streak-width);
  min-height: var(--cv-photo__streak-height);

  // Typography

  // Decoration
  background-color: var(--color-highlight-light_alpha);

  // Animation

  // Various
}

.cv-photo {
  // Position

  // block-model
  height: 100%;
  // Typography

  // Decoration
  border-radius: 5%;
  // Animation

  // Various
}

.header__content-container {
  // Position

  // block-model
  justify-content: space-between;
  row-gap: 25px;
  // Typography

  // Decoration

  // Animation

  // Various
}

.title-container {
  // Position

  // block-model
  justify-content: space-between;
  row-gap: 6px;
  // Typography

  // Decoration

  // Animation

  // Various
}
