.code-example__container {
  // Position

  // block-model
  row-gap: 15px;
  width: 100%;
  padding: 20px 0;
  // Typography

  // Decoration

  // Animation

  // Various
}

.task-description__container {
  // Position

  // block-model
  row-gap: 10px;
  width: 100%;
  // Typography

  // Decoration

  // Animation

  // Various
}

.description__container {
  // Position

  // block-model
  row-gap: 3px;
  width: 100%;
  // Typography

  // Decoration

  // Animation

  // Various
}

.code_highlight {
  // Position

  // block-model
  padding: 1px 4px;
  // Typography
  color: var(--color-text-dark);
  // Decoration
  background-color: var(--color-background-light);
  border-radius: 4px;
  // Animation

  // Various
}

.description-details {
  // Position

  // block-model

  // Typography

  // Decoration
  @extend %cursor-pointer;
  // Animation
  @extend %transition-basic;

  // Various
  &:hover,
  &:active {
    @extend %transition-basic;
  }

  &:hover {
    @extend %transition-basic;
    color: var(--color-text-dark);
    background-color: var(--color-highlight-light);
    border-radius: inherit;
  }

  &:active {
    @extend %transition-basic;
    color: var(--color-text-dark);
    background-color: var(--color-highlight-light);
    border-radius: inherit;
  }
}
