.job-experience__container {
  // Position

  // block-model
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 20px;
  // Typography

  // Decoration

  // Animation

  // Various
}

.job__container {
  // Position

  // block-model
  justify-content: center;
  row-gap: 10px;
  width: 100%;
  // Typography

  // Decoration

  // Animation

  // Various
}

.job-definition__container {
  // Position

  // block-model
  @include flex-two-childs-basis($first-basis: 163px, $last-basis: 82%);
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 10px;
  width: 100%;

  // Typography

  // Decoration

  // Animation

  // Various
}

.job-resposibilities {
  // Position

  // block-model
  row-gap: 3px;
  width: 100%;

  // Typography

  // Decoration

  // Animation

  // Various
}
